@import '../../utils/mixins.scss';


.products__title {
  text-align: center;
  font-size: 36px;
}

.product__list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.product__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  max-width: 200px;
  gap: 10px;

  @include onMobile {
    max-width: 100px;
    margin: 2px;
  }

  &:hover {
    box-shadow: 0 15px 4px rgba(0, 0, 0, 0.2);
  }

  &--wrapper {
    display: flex;
    flex-direction: column;
  }

  &--info {
    display: flex;
    justify-content: space-between;
  }

  &--title {
    font-size: 1.2rem;
    margin-bottom: 8px;

  }

  &--image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 16px;
    transition: 0.3s;


  }

  &--category {
    font-size: 12px;
    color: #666;
    margin-bottom: 16px;
  }

  &--price {
    font-size: 12px;
  }



  &--add-button {
    padding: 2px 4px;
    background-color: #684141;
    color: #fff;
    height: 36px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #494949;
    }
  }

  &--in-cart-button {
    background-color: #3d2626;
  }

  &--details-button {
    margin-top: 8px;
    padding: 8px 16px;
    background-color: #dfa2a2;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #929292;
    }
  }
}

.go-up {
  display: block;
  background-color: #494949;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  width: 30px;
  height: 30px;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  bottom: 5px;
  right: 5px;
  padding: 5px;
}






