.main {
  flex: 1 1 auto;
  max-width: 1260px;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
}

.pointer-none {
  pointer-events: none;
}
.pointer-all {
  pointer-events: all;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
}