@import './utils/mixins.scss';

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

* {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;

  @include onMobile {
    font-size: 14px;
  }
}
